.category-page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  background: transparent;
}

.category-header {
  position: absolute;
  top: -4%;
  left: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: fit-content;
}


.category-title {
  font-family: var(--font-title);
  font-weight: var(--font-weight-title);
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.85);
  text-transform: uppercase;
}

.category-articles {
  position: relative;
  margin-top: 10rem;
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}


@media screen and (max-width: 625px) {
  .category-page h1 {
    font-size: 1.5rem;
  }

  .category-articles li {
    max-width: 95vw;
    padding: 1rem;
  }

  .category-articles a {
    font-size: 0.95rem;
  }
}
