body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-body, 'Lora', serif);
  line-height: 1.55;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(206, 197, 197, 0.678);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
